{% extends 'static/layout_principal.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white flex">
            {%if request.path == '/libros' or request.path == '/libros/digital' or request.path == '/libros/fisico' %}
            <h2 class="display-4 fw-bolder">Catálogo Bookstore</h2>
            <p class="display-8">Para filtrar por categoría utilice la barra de navegación</p>
            {%else%}
            <h2 class="display-4 fw-bolder">Escaparate Bookstore</h2>
            {%endif%}
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            {% for dato in datos %}
            <div class="col mb-5">
                <a href='/libro/{{dato.id}}' style="color:black;text-decoration: none" class="dark">
                    <div class="card h-100">
                        <img class="card-img-top" src=/{{dato.imagen}} style="height: 350px;" alt="..." />
                        <!-- Product image-->
                        
                        
                        <!-- Product details-->
                        <div class="card-body p-4">
                            <div class="text-center">
                                <!-- Product name-->
                            <!-- <h5 class="fw-bolder">Popular Item</h5> -->
                            <h5 class="fw-bolder">{{dato.titulo}}</h5>
                            <p class="fw-bolder">{{dato.formato}}</p>
                            <!-- Product reviews-->
                            <div class="d-flex justify-content-center small text-warning mb-2">
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                                <div class="bi-star-fill"></div>
                            </div>
                            <!-- Product price-->
                            {{dato.precio}}€
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        
                        
                        <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="{% url 'AddNew' dato.id %}">Añadir al carrito</a></div>
                        
                    </div>
                </a>
                </div>
            </div>
            {% endfor %}
        </div>
        </div>
    </div>
</section>
{% endblock %}
     