<!DOCTYPE html>
<html lang="es">
{% load static %}
{% include 'static/components/head.html' %}
{% load crispy_forms_tags %}         



<body>
	{% include 'static/components/messages.html' %}

	<section class="h-100">
		<div class="container h-100">
			<div class="row justify-content-sm-center h-100">
					<div class="text-center my-5">
						<img src='{% static 'main/icon-blanco-nol.jpg' %}' alt="logo" width="100">
					</div>
					<div class="card shadow-lg ">
						<table class="table table-bordered ">
							<thead>
								<tr>
									<th scope="row" colspan="3" class="text-center">CESTA</th>
								</tr>
								<tr>
									<th scope="col">Artículo</th>
									<th scope="col">Precio</th>
									<th scope="col">Cantidad</th>
								</tr>
							</thead>
						<tbody>
							{% for key, value in request.session.carrito.items %}
							<tr>
								<td>{{value.nombre}}</td>
								<td>{{value.acumulado}}€</td>
								<td>{{value.cantidad}}
								</td>
							</tr>
							{% endfor %}
							{% if envio.value %}
							<tr>
							  <td>Envio</td>
							  <td>{{envio.payload}}€</td>
							  <td></td>
							</tr>
							{% endif%}
							<tr>
								<th scope="row">Total:</th>
								<td colspan="2">{{suma_total}}€</td>
							</tr>
						</tbody>
						</table>
					</div>
					<div class="card shadow-lg">
						<div class="card-body">
							<form method="POST">
								<h1 class="fs-4 card-title fw-bold mb-4">Informacion Personal</h1>
										{% csrf_token %}
										{{ form|crispy }}    
									<button class="btn btn-primary d-flex mt-5" type="submit">Proceder al pago</button>
							</form>
						</div>
					</div>
			</div>
		</div>
	</section>
	
</form>
</body>
</html>