{% extends 'static/layout_principal.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white flex">
            <h2 class="display-4 fw-bolder">BOOKSTORE</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    <a>
    <h4>Dirección</h4>
    <p>Av. Reina Mercedes, 1, 41004 Sevilla, España</p>
    <h4>Número de Telefono</h4>
    <p>666 666 666</p>
    <h4>Correo electrónico</h4>
    <p>bookstore@gmail.com</p>
    
</a>
    </div>
</section>
{% endblock %}
     