{% extends 'static/layout_principal.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white flex">
            <h2 class="display-4 fw-bolder">BOOKSTORE</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    <a>

    Todos los productos de bookstore no podrán ser devueltos. Por ello, rogamos que antes de realizar la compra, se asegure de que el producto es el que desea. En caso de que el producto no sea el que usted desea, puede ponerse en contacto con nosotros a través de atención al cliente y le ayudaremos a encontrar una solución.
      
</a>
    </div>
</section>
{% endblock %}
     