{% extends 'static/layout_principal.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white flex">
            <h2 class="display-4 fw-bolder">BOOKSTORE</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    <a>
        <p>
            Tras efectuar el pago en nuestra tienda recibirá un correo de confirmación de compra. 
        </p>
        
        <p>
            Haremos todo lo posible por entregar su pedido en los plazos establecidos, aunque no nos podemos responsabilizar de los retrasos por motivos ajenos a Bookstore o por causas de fuerza mayor.
        </p>
        
        <p>
            Los gastos de envío de productos distribuidos en España son fijos y se reflejarán de manera predeterminada en la sección de “carrito” momentos antes de procesarse la compra (5€). Sin embargo, el coste por envío de pedidos realizados con mayor importe a 20€ será gratuito. Los pedidos que no requieran de envío a domicilio, como los libros digitales y la recogida en tienda, no se cobrará el importe de envío.  
        </p>
        
        <p>
            Cualquier pedido se puede realizar a través de una pasarela de pago segura. El pago se realizará a través de la pasarela de pago de la entidad bancaria que elija el cliente. El cliente podrá elegir entre las siguientes opciones de pago: tarjeta de crédito, tarjeta de débito, transferencia bancaria, PayPal, Bizum, Apple Pay, Google Pay y Amazon Pay. Ademas tambien se puede pagar en contrareembolso. Para los pedidos que solo contengan productos digitales no se aplicará el pago en contrareembolso.
        </p>
     
        
</a>
    </div>
</section>
{% endblock %}
     