{% extends 'static/layout_principal.html' %}

{% block header %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white flex">
            <h2 class="display-4 fw-bolder">BOOKSTORE</h2>
        </div>
    </div>
</header>
{% endblock %}

{% block section %}
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
    <a>
        <p>
        SECCIÓN 1 – ¿QUÉ HACEMOS CON TU INFORMACIÓN?
        <br>

Como parte del proceso de venta, cuando compras un artículo en nuestra tienda nosotros recolectamos información personal que nos proporcionas con datos tales como nombre, dirección y correo electrónico. 


</p>

<p>


SECTION 2 – CONSENTIMIENTO
<br>
¿Cómo obtienen mi consentimiento?

Cuando nos provees tu información personal para completar una transacción, verificar tu tarjeta de crédito, crear una órden, concertar un envío o hacer una devolución, implicamos que aceptas la recolección y uso por esa razón específica solamente.


¿Cómo puedo anular mi consentimiento?

Si luego de haber aceptado cambias de opinión, puedes anular tu consentimiento para que te contactemos, por la recolección, uso o divulgación de tu información, en cualquier momento, contactándonos a través de la página web.

</p>


<p>

SECCIÓN 3 – SERVICIOS DE TERCERAS PARTES
<br>
En general, los proveedores de terceras partes utilizados por nosotros solo recopilarán, usarán y divulgarán tu información en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen.

Sin embargo, algunos proveedores de servicios de terceros, tales como pasarelas de pago y otros procesadores de transacciones de pago, tienen sus propias politicas de privacidad con respecto a la información que estamos obligados a proporcionarles para las transacciones relacionadas con las compras.

Para estos proveedores, te recomendamos que leas las políticas de privacidad para que puedas entender la manera en que tu información personal será manejada.
<br>

En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones que se encuentran en una jurisdicción diferente a ti o nosotros. Asique si deseas proceder con una transacción que involucra los servicios de un proveedor a terceros, tu información puede estar sujeta a las leyes de la jurisdicción (jurisdicciones) en que se encuentra el proveedor de servicios o sus instalaciones.

Una vez que abandonas el sitio web de nuestra tienda o te rediriges a un sitio o aplicación de terceros, ya no estás siendo regulados por la presente Política de Privacidad o los Términos de Servicio de nuestra página web.

Enlaces

Cuando haces clic en enlaces de nuestra tienda, puede que seas redirigido fuera de nuestro sitio. No somos reponsables por las prácticas de privacidad de otros sitios y te recomendamos leer sus normas de privacidad.
</p>
<p>
SECCIÓN 4 – SEGURIDAD
<br>
Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.

</p>

<p>
SECCIÓN 5 – CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD
<br>
Nos reservamos el derecho a modificar esta política de privacidad en cualquier momento, así que por favor revísela frecuentemente. A menudo notificaremos vía email de los cambios efectuaos en nuestra política de privacidad.
</p>
<p>
SECTION 6 – PAGOS

Se ofrecerá los pagos mediante tarjeta de credito o pago contra reembolso. Estas opciones aparecerán en el proceso de compra. Una vez que se haya realizado el pedido, no se podrán realizar cambios en el método de pago.
</p>
</a>
    </div>
</section>
{% endblock %}
     